<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{% url 'inicio' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Pregúntate</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{% url 'preguntas' %}" class="nav-link">Preguntas</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Haz preguntas</a></li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-primary">Sign-up</a>
            </li>
        </ul>
    </header>
    {% bootstrap_javascript %}
</body>
</html>