<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{% url 'inicio' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use> <!--This is a Bootstrap icon-->
            </svg>
            <span class="fs-4">Pregúntate</span>
        </a>

        <ul class="nav nav-pills">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="#" class="nav-link">Haz preguntas</a></li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
                </li>
            {% endif %}
        </ul>
    </header>
    {% bootstrap_javascript %}
</body>
</html>