{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}

    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-50 m-auto">
    <form action="" method="post">
                    {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Inicia sesión</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nickname" placeholder="nickname" name="nickname">
            <label for="nickname">Nombre de usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contrasena">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <a href="{% url 'registro' %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Registrate</a>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
    </form>
</main>

    {% bootstrap_javascript %}
</body>
</html>