{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de usuario</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}

    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-50 m-auto">
    <form action="" method="post">
                    {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Crea tu cuenta</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nickname" placeholder="nickname" name="nickname">
            <label for="nickname">Nombre de usuario</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="e_mail" placeholder="name@example.com" name="e_mail">
            <label for="e_mail">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="contrasena" placeholder="Password" name="contrasena">
            <label for="contrasena">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Registrarme</button>
    </form>
</main>

    {% bootstrap_javascript %}
</body>
</html>